IocPerformance/LightCore.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="clr-namespace:LightCore.Configuration;assembly=LightCore.Configuration" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="LightCoreConfiguration">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="LightCoreConfiguration.TypeAliases" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element minOccurs="1" maxOccurs="unbounded" name="TypeAlias">
                                <xs:complexType>
                                    <xs:attribute name="Alias" type="xs:string" use="required" />
                                    <xs:attribute name="Type" type="xs:string" use="required" />
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="LightCoreConfiguration.Registrations" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element minOccurs="1" maxOccurs="unbounded" name="Registration">
                                <xs:complexType>
                                    <xs:sequence minOccurs="0" maxOccurs="1">
                                        <xs:element name="Registration.Arguments" minOccurs="0" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element minOccurs="1" maxOccurs="unbounded" name="Argument">
                                                        <xs:complexType>
                                                            <xs:attribute name="Name" type="xs:string" use="optional" />
                                                            <xs:attribute name="Value" type="xs:string" use="required" />
                                                            <xs:attribute name="Type" type="xs:string" use="optional" />
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="ContractType" type="xs:string" use="required" />
                                    <xs:attribute name="ImplementationType" type="xs:string" use="required" />
                                    <xs:attribute name="Lifecycle" type="xs:string" use="optional" />
                                    <xs:attribute name="Enabled" type="xs:string" use="optional" />
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="LightCoreConfiguration.RegistrationGroups" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="RegistrationGroup" minOccurs="0" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="RegistrationGroup.Registrations">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element maxOccurs="unbounded" name="Registration">
                                                        <xs:complexType>
                                                            <xs:sequence minOccurs="0" maxOccurs="1">
                                                                <xs:element name="Registration.Arguments" minOccurs="0" maxOccurs="unbounded">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element minOccurs="1" maxOccurs="unbounded" name="Argument">
                                                                                <xs:complexType>
                                                                                    <xs:attribute name="Name" type="xs:string" use="optional" />
                                                                                    <xs:attribute name="Value" type="xs:string" use="required" />
                                                                                    <xs:attribute name="Type" type="xs:string" use="optional" />
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                            <xs:attribute name="ContractType" type="xs:string" use="required" />
                                                            <xs:attribute name="ImplementationType" type="xs:string" use="required" />
                                                            <xs:attribute name="Name" type="xs:string" use="optional" />
                                                            <xs:attribute name="Arguments" type="xs:string" use="optional" />
                                                            <xs:attribute name="Lifecycle" type="xs:string" use="optional" />
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="Name" type="xs:string" use="required" />
                                    <xs:attribute name="Enabled" type="xs:string" use="optional" />
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="DefaultLifecycle" type="xs:string" use="optional" />
            <xs:attribute name="ActiveRegistrationGroups" type="xs:string" use="optional" />
        </xs:complexType>
    </xs:element>
</xs:schema>